@use "sass:math";
@import "variables";

@mixin phone {
  @media (max-width: #{$phoneWidth}) {
    @content;
  }
}

.collections {
  padding: 50px 0 35px 0;
  background-color: $grey;

  @include phone {
    padding-bottom: 5%;
  }
}

.container {
  padding: 0 calc(env(safe-area-inset-right)) 0 calc(env(safe-area-inset-left));
  max-width: $maxContentWidth;
  margin: 0 auto;
  width: 90%;
}

.header {
  max-width: 500px;

  p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.h1 {
  font-size: 2.5rem;
  margin: 0;
}

.scroll {
  overflow-y: auto;
  scroll-snap-type: x mandatory;
  padding: 0 0 15px;

  @include phone {
    padding: 0 5% 15px;
  }

  @include ipad-landscape {
    padding: 0 5% 15px;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;

    &:hover {
      background: #ccc;
    }
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0;

    &:hover {
      background: #d6d6d6;
    }
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
  }
}

.list {
  $spacing: 25px;
  list-style: none;
  padding: 0;
  gap: $spacing;
  display: flex;
  column-gap: $spacing;
  margin-left: calc((100vw - (#{$maxContentWidth} - (2 * #{$spacing}))) / 2 - 25px);

  @media (max-width: $maxContentWidth) {
    margin-left: 0;
  }

  @include phone {
    display: flex;
    column-gap: $spacing;
  }

  &:after {
    display: block;
    content: '';
    flex: 0 0 1px;
  }

  li {
    flex: 0 0 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    height: 230px;
    max-height: 60vh;
    scroll-snap-align: center;
    background-position: center center;
    background-size: cover;

    @include phone {
      flex: 0 0 75vw;
    }

    &.balatonfured {
      background-image: url('/balatonfured.jpeg');
      background-image: url('/balatonfured.webp');
    }

    &.budapest {
      background-image: url('/budapest.jpeg');
      background-image: url('/budapest.webp');
    }

    a {
      display: block;
      text-decoration: none;
      font-size: 2rem;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, .1);
      width: 100%;
      height: 100%;
    }
  }
}
