.hero__logo__img {
  max-width: 150px;
  width: 100%;
}

.hero__map {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  border-bottom-left-radius: 250px;
  height: 250px;
  width: 57%;
  overflow: hidden;
  background-image: url('/map.png');
  background-image: url('/map.webp');
  background-size: cover;
  background-position: center center;
}

.hero__content {
  display: flex;
  position: relative;
  z-index: 20;
}

.hero__content__text {
  flex: 1 1 55%;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.hero__content__text h1 {
  margin: 0 0 0.5em;
  font-size: 2.5em;
}

@media (max-width: 700px) {
  .hero__content__text h1 {
    margin: 0 0 0.5em;
    font-size: 2.2em;
  }
}

.hero__content__text p {
  margin: 0 0 1.5em;
  max-width: 600px;
}

.hero__cta {
  background-color: #9FE3D7;
  padding: 3px 5px;
  border-radius: 2px;
  line-height: 1.5em;
}

.hero__cta:hover:after {
  background-color: hsl(169, 58%, 50%);
}

.hero__content__preview {
  flex: 1 1 45%;
  filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.15));
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.hero__content__preview img {
  width: 110%;
  height: auto;
  margin-right: -10%;
  transform: translateX(20%);
  border-radius: 12px;
}

@media (max-width: 700px) {
  .hero__map {
    height: 70px;
    width: 50vw;
  }

  .hero__wrapper {
    max-width: 90%;
    padding: 5% 0 0;
  }

  .hero__content {
    padding: 5vh 0;
    display: block;
  }

  .hero__content__text {
    font-size: 1em;
    margin-bottom: 5vh;
  }

  .hero__content__preview img {
    width: 100%;
    margin: 0;
    transform: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero__map {
    background-image: url('/map@2x.png');
    background-image: url('/map@2x.webp');
  }
}
