.main {
  overflow-x: hidden;
}

.hero__logo__img {
  max-width: 150px;
  width: 100%;
}

.hero__map {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  border-bottom-left-radius: 250px;
  height: 250px;
  width: 60%;
  overflow: hidden;
  background-image: url('/map.png');
  background-size: cover;
  background-position: center center;
}

.hero__content {
  display: flex;
  position: relative;
  z-index: 20;
}

.hero__content__text {
  flex: 1 1 55%;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.hero__content__text h1 {
  margin: 0 0 0.5em;
  font-size: 2.5em;
}

.hero__content__text p {
  margin: 0 0 1.5em;
  max-width: 600px;
}

.hero__cta {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.hero__cta:after {
  display: block;
  content: '';
  position: absolute;
  background-color: #2AD7B8;
  height: 8px;
  border-radius: 8px;
  left: -3px;
  right: -3px;
  bottom: 0;
  z-index: -1;
}

.hero__cta:hover:after {
  background-color: hsl(169, 58%, 50%);
}

.hero__content__preview {
  flex: 1 1 45%;
}

.hero__content__preview img {
  width: 110%;
  margin-right: -10%;
  transform: translateX(20%);
}



@media (max-width: 700px) {
  .hero__map {
    display: none;
  }

  .hero__wrapper {
    max-width: 90%;
    padding: 5% 0 0;
  }

  .hero__content {
    padding: 5vh 0;
    display: block;
  }

  .hero__content__text {
    font-size: 1em;
    margin-bottom: 5vh;
  }

  .hero__content__preview img {
    width: 100%;
    margin: 0;
    transform: none;
  }

  .hero__cta {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #2AD7B8;
    font-weight: bold;
    color: #fff;
    box-shadow: 3px 5px 20px #3b7b7059;
  }

  .hero__cta:after {
    display: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero__map {
    background-image: url('/map@2x.png');
  }
}

.highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  padding: 150px 0;
  position: relative;
}

@media (max-width: 700px) {
  .highlights {
    padding-top: 0;
  }
}

.highlights:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -300px;
  height: 800px;
  background-image: url('/pin.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 10;
}

.highlights:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1000px;
  background-image: url('/plane.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 10;
}

@media (max-width: 700px) {
  .highlights {
    display: block;
  }
}

.highlights h2 {
  font-size: 2.3em;
  margin: 0 0 5em;
  position: relative;
  z-index: 20;
}

@media (max-width: 700px) {
  .highlights h2 {
    display: block;
    margin-bottom: 1em;
  }
}

.highlight {
  padding: 2.5vw;
  box-shadow: 0 30px 60px rgba(0, 37, 86, 0.1);
  z-index: 20;
  position: relative;
  background-color: #fff;
}

.highlight + .highlight {
  margin-top: 5vw;
}

@media (max-width: 700px) {
  .highlight {
    padding: 7vw;
    margin-bottom: 2vh;
  }
}

.highlight--bottom-right-rounded {
  border-radius: 2vw 2vw 5vw 2vw;
}

.highlight--top-right-rounded {
  border-radius: 2vw 5vw 2vw 2vw;
}

.highlight__title {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}

.highlight__problems {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
}

.highlight__problems li {
  padding: 2vh 0;
  margin-left: 60px;
  position: relative;
  display: block;
}

.highlight__problems li:last-child {
  padding-bottom: 0;
}

.highlight__problems li:before {
  display: block;
  content: '';
  width: 40px;
  height: 8px;
  position: absolute;
  left: -60px;
  top: 2vh;
  margin-top: 0.4em;
  border-radius: 10px;
}

.highlight--yellow .highlight__problems li:before {
  background-color: #FFC736;
}

.highlight--blue .highlight__problems li:before {
  background-color: #026CF9;
}

.highlight--purple .highlight__problems li:before {
  background-color: #BD00CD;
}

.highlight__title__icon {}

.highlight__title__text {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.8em;
}

.premise h3 {
  font-size: 2.3em;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}

.premise__comparison {
  display: flex;
}

.premise__comparison img {
  display: block;
  margin: 0 50px;
}

.premise__comparison p {
  font-size: 1.2em;
}

.premise__comparison u {
  text-decoration-color: #FFC736;
  text-decoration-thickness: 8px;
  text-underline-offset: -4px;
  text-decoration-skip-ink: none;
  display: inline-block;
}
