.premise {
  margin-bottom: 10vh;
}

.premise h3 {
  font-size: 2.3em;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}

@media (max-width: 700px) {
  .premise h3 {
    display: block;
    max-width: 90%;
    margin-top: 1em;
  }
}

.premise__comparison {
  display: flex;
}

@media (max-width: 700px) {
  .premise__comparison {
    display: block;
  }
}

.premise__comparison img {
  display: block;
  margin: 0 50px;
}

@media (max-width: 700px) {
  .premise__comparison img {
    margin: 50px auto;
  }
}

.premise__comparison p {
  font-size: 1.2em;
}

.premise__comparison u {
  text-decoration-color: #FFC736;
  text-decoration-thickness: 8px;
  text-underline-offset: -4px;
  text-decoration-skip-ink: none;
  display: inline-block;
}
