.highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  padding: 150px 25px;
  position: relative;
}

@media (max-width: 700px) {
  .highlights {
    padding: 0;
  }
}

.highlights:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -300px;
  height: 800px;
  background-image: url('/pin.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 10;
}

.highlights:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1000px;
  background-image: url('/plane.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 10;
}

@media (max-width: 700px) {
  .highlights {
    display: block;
  }

  .highlights:after,
  .highlights:before {
    display: none;
  }
}

.highlights h2 {
  font-size: 2em;
  margin: 0 0 5em;
  position: relative;
  z-index: 20;
}

@media (max-width: 700px) {
  .highlights h2 {
    display: block;
    margin-bottom: 1em;
  }
}

.highlight {
  padding: 50px;
  box-shadow: 0 30px 60px rgba(0, 37, 86, 0.1);
  z-index: 20;
  position: relative;
  background-color: #fff;
}

.highlight + .highlight {
  margin-top: 5vw;
}

@media (max-width: 700px) {
  .highlight {
    padding: 7vw;
    margin-bottom: 2vh;
  }
}

.highlight--bottom-right-rounded {
  border-radius: 2vw 2vw 5vw 2vw;
}

.highlight--top-right-rounded {
  border-radius: 2vw 5vw 2vw 2vw;
}

.highlight__title {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}

.highlight__problems {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
}

.highlight__problems li {
  padding: 2vh 0;
  margin-left: 60px;
  position: relative;
  display: block;
}

@media (max-width: 700px) {
  .highlight__problems li {
    margin-left: 40px;
  }
}

.highlight__problems li:last-child {
  padding-bottom: 0;
}

.highlight__problems li:before {
  display: block;
  content: '';
  width: 40px;
  height: 4px;
  position: absolute;
  left: -60px;
  top: 2vh;
  margin-top: 0.4em;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .highlight__problems li:before {
    width: 25px;
    left: -45px;
  }
}

.highlight--yellow .highlight__problems li:before {
  background-color: #FFC736;
}

.highlight--blue .highlight__problems li:before {
  background-color: #026CF9;
}

.highlight--purple .highlight__problems li:before {
  background-color: #BD00CD;
}

.highlight__title__text {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.8em;
}
