.propositions {
  margin-bottom: 50px;
}

.propositions h3 {
  font-size: 2.5em;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}

@media (max-width: 700px) {
  .propositions h3 {
    display: block;
    max-width: none;
    margin-top: 2.5em;
    text-align: left;
    position: relative;
    padding: 0 5%;
    font-size: 1.7em;
  }

  .propositions h3:before {
    width: 10px;
    background-color: #026CF9;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: -10px;
    left: 0;
    border-bottom-right-radius: 10px;
  }
}

.propositions__screenshot {
  display: grid;
  grid-gap: 50px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  font-size: 1.2em;
  line-height: 1.4em;
}

@media (max-width: 700px) {
  .propositions__screenshot {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .propositions__screenshot img {
    max-width: 100%;
  }
}

.screenshot__container {
  text-align: right;
}

@media (max-width: 700px) {
  .screenshot__container {
    text-align: center;
  }
}

.propositions__screenshot ul {
  margin: 30px 0 0;
  padding: 0 0 0 20px;
}

.propositions__screenshot ul li + li {
  margin-top: 15px;
}

.cta {
  margin-top: 40px;
  border-radius: 10px;
  padding: 10px 40px;
  background-color: #f2673b;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.partnersContainer {
  margin-top: 100px;

  @media (max-width: 700px) {
    margin-top: 50px;
  }
}

.partners {
  display: flex;
}

@media (max-width: 700px) {
  .partners {
    display: block;
  }
}

.partners > div {
  align-items: center;
}

.partners > div:first-child {
  flex: 1 1 30%;
}

.partners > div:nth-child(2) {
  justify-items: center;
}

.partners__title {
  font-size: 2em;
  font-weight: bold;
}

@media (max-width: 700px) {
  .partners__title {
    font-size: 1.5em;
  }
}

.partners__logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  opacity: .5;
}

@media (max-width: 700px) {
  .partners__logos {
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

.partners__poweredby {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.referenceCtaContainer {
  text-align: right;

  @media (max-width: 700px) {
    text-align: center;
  }
}
