.container {
  position: relative;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 25px;
}

@media (max-width: 700px) {
  .nav {
    max-width: 90%;
    padding: 5% 0 0;
  }
}

@media (max-width: 700px) {
  .logo img {
    max-width: 120px;
    width: 45%;
    height: auto;
  }
}

.map {
  width: 500px;
  height: 150px;
  background-image: url('/map.png');
  background-image: url('/map.webp');
  background-size: cover;
  background-position: center center;
  position: absolute;
  right: 0;
  top: 0;
  border-bottom-left-radius: 150px;
}

@media (max-width: 700px) {
  .map {
    max-width: 50%;
    height: 70px;
  }
}

.title {
  font-size: 1.2em;
  margin: 0 auto;
}

.title h1 {
  padding: 50px 25px;
  font-size: 2.5em;
  margin: 0;
}

@media (max-width: 700px) {
  .title h1 {
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.4em;
    padding: 70px 0;
  }
}

.content {
  padding: 50px 25px 100px 25px;
  font-size: 1.2em;
  line-height: 1.6em;
}

@media (max-width: 700px) {
  .content {
    padding-top: 0;
    padding-bottom: 50px;
  }
}
